/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
    This test should be run with --stub so that it finishes quickly.

    Use as follows:
        nextflow run nf-core/lightsheetrecon -profile test,<docker/singularity> --stub --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input             = 'https://raw.githubusercontent.com/krokicki/test-datasets/lightsheetrecon/testdata/LHA3_tiny/samplesheet.csv'
    channels          = 'c0,c1'
    stitching_channel = 'all'
    resolution        = '0.23,0.23,0.42'
    axis_mapping      = '-x,y,z'
    indir             = "${params.outdir}/input_data"
}
